* {
    margin: 0;
    padding: 0;
}

/* navbar */
.navbar {
    display: flex;
    justify-content:center
    height: 50px;
    align-items: center;
    position: relative;
}
.navbar::before { 
    content: "";
    position: absolute;
    background-color: rgb(215, 153, 91);
    height: 100%;
    width: 100%;
    z-index: -1;
}
.navbar ul {
    display: flex;
    list-style: none;
}
.navbar ul li {
    font-size: 25px;
}
.navbar ul li a {
    padding: 5px 20px;
    text-decoration: none;
    color: white;
}
.navbar ul li a:hover {
    border-bottom: 2px grey;
}

/* Home-Page */
