* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* navbar */
.navbar {
    display: flex;
    justify-content:space-evenly;
    height: 50px;
    align-items: center;
    position: sticky;
    top: 0;
}
.navbar::before { 
    content: "";
    position: absolute;
    background-color: rgb(80, 80, 80);
    height: 100%;
    width: 100%;
    z-index: -1;
}
.navbar ul {
    display: flex;
    list-style: none;
}
.navbar ul li {
    font-size: 25px;
}
.navbar ul li a {
    padding: 5px 20px;
    text-decoration: none;
    color:white;
}
.navbar ul li a:hover {
    border-bottom: 2px grey;
}
/* Home-Page */
#home {
    display: flex;
    flex-direction: column;
    height: 1450px;

    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 99%;
}
#home::before {
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    background: url(dj-webpage.png)no-repeat center center/cover;
    height: 119%;
    width: 100%;
    z-index: -1;
    opacity: .5;
}
.heading {
    color:white;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}
#head-two {
    color:white;
    font-size: 5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}

/* About */
#about {
    display:flex;
    flex-direction: column;
    height: 600px;
}
.about h1 {
    margin: 55px;
}
.about {
    display: flex;
}
.about img {
    width: 500px;
    height: 400px;
    padding: 0px 30px;
}
.name {
    padding: 10px;
}
.name h2 {
    font-size: 2rem;
}
.name p {
    font-size: 1.2rem;
}
/* Skills */
#education {
    display: flex;
    flex-direction: column;
    background-color: #000000dc;
}
#educattion h1{
    margin: 60px;
}

.columns{
    display: grid;
    grid-template-columns: auto auto;
}
.box {
    height: 200px;
    width: 500px;
    background-color: rgb(80, 80, 80);
    border-radius: 20px;
    margin: 10px;
}
.box h2{
    color: rgb(205, 127, 50);
    font-size: 2rem;
    margin-bottom: 40px;
}
.box p{
    color: white;
    font-size: 1.1rem;
}

/* Contact */
#contact {
    display: flex;
    flex-direction: column;
    background-color: #000000dc;
}
#contact h1 {
    margin: 50px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input {
    padding: 15px 20px;
    margin: 15 px;
    width: 40%;
    border: none;
    outline: none;
    border-radius: 25px;
}
#message {
    margin: 15px;
    padding: 10 px;
    border-radius: 20px;
}
#submit {
    padding: 15px 20px;
    margin: 30px;
    width: 15%; 
    border-radius: 20px;
    background-color: #000000dc;
    color: white;
    border: none;
    outline: none;
}
#submit:hover {
    background-color: brown;
    color: white;
    cursor: pointer;
}