/* Global Parameters */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root HTML */
html {
    font-size: 1vw;
}

/* Root body */
body {
    font-family: 'San Francisco', sans-serif;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #ccc; /* Off white / gray */
    background-color: #000; /* black background */
}

/* Set overall body content w/ margin */
.content {
    width: 90vw;
    margin: auto;
    overflow: hidden; 
    padding: 2vh 3vw;
}

/* Default link styles */
a {
    color: #ccc; 
    text-decoration: none;
}

/* Default link hover styles */
a:hover {
    color: #fff; /* Change to white on hover */
}

/* For heading tags */
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

/* Example component */
.component {
    font-size: 2rem; 
}

/* Pages Parameters */


/* Utilities Parameters */
/* Error Page */
#error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    background-color: black;
    padding: 12vw;
}

#error-page-text-1, #error-page-text-2, #error-page-text-3 {
    font-size: 2.3vw;
    text-align: center;
    margin-bottom: 2vw;
}

#error-page-image {
    max-width: 50vw;
    height: auto;
    margin-bottom: 5vw;
}

/* Navbar */
#navbar {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 10vh;
    background-color: black;
    color: white;
    font-size: 1.6vw;
    z-index: 1;
    padding: 1vh 0; 
    right: -4.5vw;
}

#navbar a {
    color: white;
    text-decoration: none;
    margin: 1vw;
}

#navbar-home img {
    height: 50%; 
    width: auto;
    margin-right: 0vw; 
    position: absolute;
    left: 0vw;
    top: 0vh;
}

#navbar a:hover {
    color: tan;
}

/* Footer */
#footer {
    width: 90%;
    position: fixed;
    bottom: 1.25vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    background-color: black;
    color: white;
    left: 4.5vw;
}

#footer a {
    color: white;
    text-decoration: none;
    margin: 0 1.5vw;
}

#footer-left img{
    width: 3vw;
    height: 3vw;
}

#footer-right img{
    width: 3.25vw;
    height: 3.25vw;
    opacity: 80%;
}

#footer-center{
    font-size: 1.4vh;
    display: flex;
    justify-content: center;
}

#footer-right button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
}