/* Global Parameters */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root HTML */
html {
    font-size: 1vw;
    color: #cec9c9; /* Grey */
    margin: 0;
    padding: 0;
}

/* Colors */
/* color: #cec9c9; Grey */
/* color: #C2B19C; Brown */

/* Root body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'San Francisco', sans-serif;
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: #cec9c9; /* Grey */
    background-color: #000; 
}

/* Set overall body content w/ margin */
.content {
    width: 90vw;
    margin: auto;
    overflow: hidden; 
    padding: 2vh 3vw;
    flex: 1 0 auto;
}

/* Default link styles */
a {
    color: #cec9c9; /* Grey */
    text-decoration: none;
}

/* Default link hover styles */
a:hover {
    color: #fff;
}

/* For heading tags */
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}


/* Pages Parameters */
/* Homepage */
.homepage {
    font-size: 8vw;
    text-align: center;
}

#homepage-1 {
    height: 65vh;
    margin: auto;
    overflow: hidden; 
    font-size: 4vh;
    padding: 10vh 3vw 2vh;  
    flex: 1 0 auto;
    margin-top: 15vh; /* change this after content is added */
}

#homepage-2 {
    height: 65vh;
    margin: auto;
    overflow: hidden; 
    flex: 1 0 auto;
}

/* About */
#about {
    font-size: 5vw;
}

/* Ventures */
.ventures {
    font-size: 8vw;
    text-align: center;
}

#ventures-1 {
    height: 1vh;
    margin: auto;
    overflow: hidden; 
    padding: 0vh 3vw 2vh;  
    flex: 1 0 auto;
    margin-top: -2vh; /* change this after content is added */
}

#ventures-1 .ventures-1-title {
    font-size: 12vw;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 250;
    letter-spacing: -0.5vw;
    position: absolute;
    color: #cec9c9; /* Grey */
    top: 8vh;
    left: 5vw;
}

#ventures-2 {
    height: auto;
    margin: 5vh auto;
    overflow: hidden;
    font-size: 2vw;
    padding: 2vh 3vw;
    margin-top: 22vh;
}
  
.ventures-2-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 3vw;
}
  
.ventures-2-text {
    flex: 1 1 50%; /* change this */
    padding-right: 2vw;
    text-align: justify;
    text-justify: inter-word;
}

.ventures-2-text p {
    opacity: 0.77;
}

.ventures-2-image {
    flex: 1 1 50%; /* change this */
}
  
.ventures-2-image img {
    width: 100%;
    height: auto;
    margin-left: 3vw;
    margin-top: 10vh;
}
  
.ventures-2-title {
    font-size: 2.7vw;
    font-weight: bold;
    margin-bottom: 0.8vh;
    line-height: 1;
    position: relative;
    top: -0.5vh;
}
  
.ventures-2-title span {
    font-size: 8vw;
    display: inline-block;
    position: relative;
}
  
.dot {
    width: 2vw;
    height: 2vw;
    background-color: #C2B19C;
    border-radius: 50%;
    position: absolute;
    top: 1vh;
    transform: translate(-50%, -50%);
    left: 2vw;
}

#ventures-3 {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 3vw;
    font-size: 2vw;
    margin: 5vh auto;
    padding: 2vh 3vw;
}

.ventures-3-text {
    flex: 1 1 50%;
    padding-right: 2vw;
    font-size: 4vw; /* Learn more */
    text-align: left;
}

.ventures-3-description {
    flex: 1 1 44%;
    text-align: justify;
    text-justify: inter-word;
    opacity: 77%;
}

.ventures-3-title {
    font-size: 4.0vw;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0.8vh;
    line-height: 3vw;
    position: relative;
    top: -0.5vh;
}

.ventures-3-subtitle {
    font-size: 1.6vw;
    letter-spacing: 0.1vw;
    margin-top: 1vw;
    padding-bottom: 2.5vw;
    color: #C2B19C; /* Brown */
    padding-right: 1vw;
    margin-left: 0.25vw;
}


.ventures-3-title span {
    font-size: 8vw;
    display: inline-block;
    position: relative;
}

.learn-more {
    text-decoration: none;
    font-size: 1.5vw;
    color: #C2B19C; /* Brown */
    border-bottom: 0.25vw solid #C2B19C;
    padding-bottom: 1vw;
    padding-right: 1vw;
    margin-left: 0.5vw;
    letter-spacing: 0.25vw;
}

.ventures-4 {
    display: flex;
    justify-content: space-between;
    padding: 3vw 0vw 0vw 0vw;
  }
  
.ventures-4-text {
    flex-basis: 30%;
    margin-right: 1vw;
    margin-top: 6vh; 
    padding-right: 1vw;
    text-align: left;
}

  
  .ventures-4-images {
      flex: 2;
      display: flex;
      justify-content: space-between;
      overflow: hidden;
  }
  
  .ventures-4-middle,
  .ventures-4-right {
      overflow: hidden; /* add this line */
      flex-basis: 40%; 
      height: 80vh; 
      padding: 2vw;
  }
  
  .ventures-4-middle img,
  .ventures-4-right img {
      width: 100%;
      height: 50vh;
      object-fit: cover;
      border-radius: 2.5vw;
  }
  
  .ventures-4-title {
      font-size: 4vw;
      font-weight: 700;
      color: #cec9c9; /* Grey */
      text-align: left;
      line-height: 1.2; 
      margin-bottom: 1vh;
  }
  
.ventures-4-description {
    font-size: 2vw; 
    opacity: 77%;
    line-height: 1.5; 
    margin-top: 1vh;
    font-size: 2vw;
    text-align: left;
}

.learn-more-2 {
    text-decoration: none;
    font-size: 1.5vw;
    color: #C2B19C; /* Brown */
    border-bottom: 0.25vw solid #C2B19C;
    padding-bottom: 1vw;
    padding-right: 1vw;
    margin-left: 0.5vw;
    letter-spacing: 0.25vw;
}

/* Business & Real Estate Pages*/
.coming-soon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
    color: #cec9c9; /* Grey */
    background-color: #000; 
}

.coming-soon-container h1 {
    font-size: 5.5vw;
    margin-bottom: 1vw;
}

.coming-soon-container p {
    font-size: 1.8vw;
    margin-bottom: 1vw;
}

/* Connect */
.page {
    display: flex;
    flex-direction: column;
}
  
#titleSection {
    font-family: 'Josefin Sans', sans-serif;
    color: #cec9c9;
    font-size: 5.8vw;
    font-weight: 250;
    letter-spacing: -0.5vw;
    padding: 2vh 2vw;
    margin-top: 5.5vh;
    margin-left: -5vw;
}
  
.section {
    background: #000;
    padding: 6vh 6vw;
    margin-top: 0vh;
    color: #cec9c9; /* Grey */
}

#social-title {
    display: flex;
    justify-content: center;
    font-size: 3vw; /* adjust size as necessary */
    align-items: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
    color: #cec9c9; /* Grey */
}

.social-media-title {
    position: relative;
}


.social-media-title::after {
    content: "";
    position: absolute;  
    width: 1.5vw;  
    height: 1.5vw; 
    background: #C2B19C; 
    border-radius: 50%;  
    top: 3.5vh; 
    left: 27.5vw;  
    transform: translate(-50%, -50%);
}

.underline {
    border-bottom: 0.25vw solid #C2B19C;
    width: 50%; 
    text-align: center;
    position: relative;
}

#social-title h2 {
    color: #cec9c9; /* Grey */
    font-size: 5vw;
    margin-bottom: -1vw;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: grey; */
    color: #cec9c9; /* Grey */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0vw 6vw;
}
  
.slide.active {
    /* display: flex; */
    opacity: 1;
}

.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1vw;
}

.slide-content h2 {
    color: #cec9c9; /* Grey */
    font-size: 4vw;
}

.slide-content p {
    color: #cec9c9; /* Grey */
    opacity: 77%;
    font-size: 2vw;
    padding-top: 2vh;
    text-align: justify;
    text-justify: inter-word;
}

.slide-content a {
    color: #cec9c9; /* Grey */
    font-size: 2vw;
    font-weight: bold; 
    margin-top: -2vw;
    padding-top: 2vw;
}
/* 
.slide-image iframe {
    position: relative;
} */


#socialSection {
    height: 40vh;
    padding-top: 0vw;
    position: relative;
}

#emailSection {
    height: 20vh;
}

#scheduleSection {
    height: 25vh;
    margin-bottom: 30vh;
}

.slide-content h2 {
    color: #cec9c9; /* Grey */
    font-size: 4vw;
    /* text-align: left; */
    right: 20vw;
}

.slide-content h2 .underline {
    border-bottom: 0.25vw solid #C2B19C;
    display: inline-block;
    width: 50%;  /* adjust the width as necessary */
    padding-bottom: 0.25vw;
    margin-bottom: 1vw;
}

.learn-more-3 {
    text-decoration: none;
    font-size: 0.5vw;
    color: #C2B19C; /* Brown */
    border-bottom: 0.25vw solid #C2B19C;
    padding-bottom: 0.75vw;
    padding-right: 0vw;
    margin-left: 0.5vw;
    letter-spacing: 0.25vw;
}

#scheduleSection {
    padding: 3vw;
    text-align: center;
}

#scheduleSection h2 {
    text-align: center;
}


.schedule-title {
    font-size: 3vw;
    margin-bottom: 2vw;
}

.schedule-content {
    font-size: 1.5vw;
}

.schedule-content button {
    background-color: #C2B19C;
    color: #000;
    border: none;
    padding: 1vw 2vw;
    text-decoration: none;
    font-size: 1.5vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.schedule-content button:hover {
    background-color: #a09283;
}

.underline-calendly {
    text-align: center;
    font-size: 4.5vw;
    position: relative; 
}

.underline-calendly::after {
    content: ""; 
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
    bottom: 0;
    width: 50%;
    border-bottom: 0.25vw solid #C2B19C;
    padding-bottom: 0.5vw;
}

#emailSection {
    background: #000;
    padding: 3vw;
    color: #cec9c9; /* Grey */
}

.email-container {
    width: 100%;
    margin-top: 0vh;
    /* margin: auto; */
    background-color: #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email-container h2 {
    font-size: 4vw;
    margin-bottom: 2vw;
}

.email-container p {
    font-size: 2vw;
    margin-bottom: 2vw;
}

#emailForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

#emailInput {
    font-size: 2vw;
    padding: 1vw;
    width: 50%;
    height: 10vh;
    border: none;
    background: #cec9c9; /* Grey */
    color: black;
}

#emailForm button {
    background-color: #C2B19C;
    color: #000;
    border: none;
    padding: 2vw;  /* increased padding */
    text-decoration: none;
    font-size: 2vw;  /* increased font size */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 2vw auto;  /* center button with auto margins */
    display: block;  /* make button a block element so auto margins work */
}

#emailForm button:hover {
    background-color: #a09283;
}

#nameInput, #emailInput {
    font-size: 2vw;
    padding: 1vw;
    width: 60%;  /* adjust width as necessary */
    height: 4vh;  /* adjust height as necessary */
    border: none;
    background: #cec9c9; /* Grey */
    color: black;
    margin-bottom: 2vh;
    border-radius: 0.8vw;
}

#messageInput {
    font-size: 2vw;
    padding: 1vw;
    width: 60%;  /* adjust width as necessary */
    height: 16vh;  /* adjust height as necessary */
    border: none;
    background: #cec9c9; /* Grey */
    color: black;
    border-radius: 0.8vw;
    margin-bottom: 2vh;
}



/* Utilities Parameters */
/* Error Page */
#error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #cec9c9; /* Grey */
    background-color: black;
    padding: 12vw;
}

#error-page-text-1, #error-page-text-2, #error-page-text-3 {
    font-size: 2.3vw;
    text-align: center;
    margin-bottom: 2vw;
}

#error-page-image {
    max-width: 50vw;
    height: auto;
    margin-bottom: 5vw;
}

/* Navbar */
#navbar {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 8vh;
    background-color: black;
    color: white;
    font-size: 1.6vw;
    z-index: 1;
    padding: 0;  /* Change here */
    right: -4.5vw;
    top: 0vw;
}


#navbar a {
    color: #cec9c9; /* Grey */
    text-decoration: none;
    margin: 1vw;
    padding-top: 1.5vh;
}

#navbar-home img {
    height: 50%; 
    width: auto;
    margin-right: 0vw; 
    position: absolute;
    left: 0vw;
    top: 1.5vh;
}

#navbar a:hover {
    color: #C2B19C;
}

/* Footer */
#footer {
    width: 93%;
    position: static;
    bottom: 1.25vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    background-color: black;
    color: white;
    flex-shrink: 0;
    left: 4.5vw;
}

#footer a {
    color: white;
    text-decoration: none;
    margin: 0 1.5vw;
}

#footer-left img{
    width: 3vw;
    height: 3vw;
}

#footer-right img{
    width: 3.25vw;
    height: 3.25vw;
    opacity: 80%;
}

#footer-center{
    font-size: 1.25vw;
    display: flex;
    justify-content: center;
}

#footer-right button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
}

