body {
    background-color: #eee8db;
}

#navbar {
    display: flex;
    justify-content: space-between;
    padding: 65px;
    padding-top: 23px;

}

#navbar-text:active {
    color: red;
}
/* this changes the color when clicked only (half a second) */

#navbar-text:hover{
    color: brown;
}

#navbar-text{
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding: 0 20px;
    text-decoration: none;
}

#about{
    text-align: center;
}

#about-text{
    /* font-family: 'Moon Dance', cursive; */
    font-family: 'Homemade Apple', cursive;
    font-size: 75px;
    font-weight: bold;
}

#error-page {
    font-family: 'Moon Dance', cursive;
    font-size: 30px;
    padding-top: 30px;
    text-align: center;
}

#error-page-text{

}

/* Fonts i've added */

    /* font-family: 'Moon Dance', cursive; */
    /* font-family: 'Homemade Apple', cursive;
    font-family: 'Cedarville Cursive', cursive; */